html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
}

.App-header {
  background-color: #111;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Footer-logo {
  height: 50px;
  margin-right: 1.5rem;
}

.error-boundary {
  color: white;
}

.movie-api-error {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}
footer a {
  color: pink;
  text-decoration: none;
  padding-left: 0.25em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .filterable-product-table {
  display: grid;
  justify-content: start;
}
.filterable-product-table__content {
  border: 1px solid black;
  padding: 20px;
}
.search-bar {
  margin-bottom: 10px;
}

.search-bar [type="text"] {
  padding: 5px 3px;
  font-size: 1.6rem;
}
.search-bar [type="text"]::-moz-placeholder,
.search-bar [type="text"]::placeholder,
.search-bar [type="text"]::-ms-input-placeholder {
  color: lightgray;
}

.search-bar input {
  margin-bottom: 5px;
}

.product-table__heading {
  font-weight: bold;
}

.product-table__row {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.product-table__row *:first-child {
  width: 40%;
}
.product-table__row--category *:first-child {
  width: 100%;
}

.product-table__row *:nth-child(2) {
  width: 60%;
}

.product-table__row--out-of-stock {
  color: red;
} */
